<!DOCTYPE html>
<html lang="en">

<head>
    <title> Salesforce Query Builder </title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link rel="icon" type="image/icon" href="SOQL.ico" />
    <link rel="stylesheet" href="css/angular-material.css">
    <base href="/">
</head>

<body layout="row">
    <div ng-app="app" layout="column" flex id="content" role="main" ng-controller="HomeController as homeCtrl">
        <md-content layout="vertical" flex id="content">
            <div layout="row" layout-align="center center" layout-fill style="min-height: 667px" class="big-cover">
                <md-whiteframe class="md-whiteframe-z1" layout="column" flex="30" layout-padding>
                    <md-content md-theme="docs-dark">
                        <md-input-container>
                            <label>Email</label>
                            <input ng-model="user.email">
                        </md-input-container>
                        <md-input-container>
                            <label>Password</label>
                            <input ng-model="user.password" type="password">
                        </md-input-container>
                        <md-input-container layout-align="center center">
                            <div layout="row" layout-sm="column" layout-margin>
                                <md-button class="md-raised" flex="50" flex-sm="100" ng-click="userLogin()">Login</md-button>
                                <md-button class="md-raised md-primary" flex="50" flex-sm="100">Register</md-button>
                            </div>
                        </md-input-container>
                        <span layout="row"><hr flex/>or<hr flex/></span>
                        <div layout="row" layout-sm="column" layout-margin>
                            <md-button class="md-raised md-primary" id="prodBtn" flex="80" flex-sm="100" ng-click="prod()">Login with Salesforce</md-button>
                        </div>
                    </md-content>
                </md-whiteframe>
            </div>
        </md-content>
    </div>


    <!--<script type="text/javascript" src="lib/angular.min.js"></script>-->
    <script type="text/javascript" src="lib/OAuth.js"></script>
    <!--<script src="lib/angular-ui-router.js"></script>-->
    <script src="lib/angular-animate.js"></script>
    <script src="lib/angular-aria.js"></script>
    <!--<script src="lib/angular-material.js"></script>-->
    <script src="js/main.js"></script>

    <script>
        if (window.location.protocol != "https:" && window.location.hostname != 'localhost')
    	    window.location.href = "https:" + window.location.href.substring(window.location.protocol.length);
    </script>
</body>

</html>